@model CommentViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comments</title>
</head>
<body>
    <div>
        <h1>@Model.PostInf.PostTitle</h1>
        <h1>@Model.PostInf.PostText</h1>
        <table>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        @comment.Text
                    </td>
                </tr>
                <tr>
                    <td>User: @comment.UID</td>
                    <td>Likes: @comment.Likes</td>
                    <td>Comment Date: @comment.Date</td>
                </tr>
                <tr>
                    <td>
                        <form asp-action="RemoveComment">
                            <input type="hidden" asp-for="@Model.PostInf.ForumId" value="@Model.PostInf.ForumId" />
                            <input type="hidden" asp-for="@Model.CommentId.CommentId" value="@comment.CommentId" />
                            <input type="submit" name="Save" value="Remove Comment" />
                        </form>
                    </td>

                </tr>
            }
        </table>
    </div>
    

</body>
</html>
