@model HomeIndexViewModel
<!DOCTYPE html>
@{ ViewBag.ExtraField = "Home1"; }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
</head>
<body>
    <div>
        <h1>Forums</h1>
        <table>
            @foreach (var forum in Model.Forums)
            {
                <tr>
                    <td>
                        <a asp-Action="Sub" asp-route-id="@forum.FName">@forum.FName</a>
                    </td>
                    <td>
                        <form asp-action="Subscribe">
                            <input type="hidden" asp-for="@Model.current.FName" value="@forum.FName" />
                            <button type="submit">Subscribe</button>

                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Subsribers:</td>
                    <td>@forum.FSubscribers</td>
                </tr>

            }
        </table>
    </div>

</body>
</html>